.header {
    padding: 32px;
    background-color: black;
    text-align: center;
    color: #fff;
    border-bottom: orange 8px solid;
}
body{
    margin: 0px;
}
.gallery{
padding: 20px 10px;
margin:0 auto;
max-width: 1400px;
gap: 16px;
align-items:center;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
display: flex;

}

.gallery img{
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    height: 300px;
    transition: 0.7s;
    opacity: 1;
}

.gallery img:hover{
    border: orange solid 5px;
    opacity: 0.2;
}
